.icon-view{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

.icon-view .thumb{
	/* background: #dddddd; */
	padding: 3px;
}

.icon-view .thumb img{
	height: 64px;
	width: 64px;
}

.icon-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

.icon-view .thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 72px; /* for ie to ensure that the text is centered */
}

.icon-view .x-item-over{
	border: 1px solid #dddddd;
	background: #efefef;
	padding: 4px;
}

.icon-view .x-item-selected{
	background: #eff5fb;
	border: 1px solid #99bbe8;
	padding: 4px;
}

.icon-view .loading-indicator {
	font-size:11px;
	background-image:url('extjs/resources/ext-theme-classic/images/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

/*.x-view-selector {
	position:absolute;
	left:0;
	top:0;
	width:0;
	border:1px dotted;
	opacity: .5;
	-moz-opacity: .5;
	filter:alpha(opacity=50);
	zoom:1;
	background-color:#c3daf9;
	border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
	position:relative;
	overflow:hidden;
}*/